<div class="guInteractive">
    <header id="header">
        <h1>Some dog related title</h1>
        <p>In January 2010, an earthquake all but destroyed Port-au-Prince, the capital of Haiti. Less than two days later, Echo, a labrador, arrived with a UK rescue team to search for survivors. “The rubble, the people, it was chaos,” his handler, Mike Dewar, remembers. “Everyone was pulling the dog: search my house! Search my house!”</p>
    </header>
    <div id="content">
        {{#allDogs}}
            {{#if selected}}
            <div id="detailContainer">
                <h3>{{name}}</h3>
                <div id="titleStroke"></div>
                <p id="dogDescription">{{subhead}}</p>
                <div id="shareContainer">
                    <button on-tap="shareDog:facebook" id="share-facebook"></button> 
                    <button on-tap="shareDog:twitter" id="share-twitter"></button> 
                    <button on-tap="shareDog:mail" id="share-mail"></button> 
                </div>
                <img src="@@assetPath@@/imgs/{{imagebig}}" alt="picture of {{name}}" />
                <div id="dogStory">
                {{#story}}
                    <p>{{{this}}}</p>
                {{/story}}
                </div>
            </div>
            {{/if}}
        {{/allDogs}}

        <div id="allDogs">
            <div class="dogColumn">
                {{#each allDogs:i}}
                    {{#if i<4}}
                        {{>dogContainer}}
                    {{/if}}
                {{/each}}
            </div>
            <div class="dogColumn">
                {{#each allDogs:i}}
                    {{#if i>3 && i<8}}
                        {{>dogContainer}}
                    {{/if}}
                {{/each}}
            </div>

            {{#allDogs[8]}}
                <div class="dogRow">
                {{>dogContainer}}
                </div>
            {{/allDogs}}

    </div>
</div>


<!-- {{>dogContainer}} -->
<div class="dogContainer selected-{{selected}}" on-tap="selectDog:{{this}}">
    <div class="dog dog-{{size}}" style="background-image:url(@@assetPath@@/imgs/{{image}})">
    <div class="dogInformation">
        <h3>{{name}}</h3>
        <p>{{subhead}}</p>
    </div>
    </div>
</div>
<!-- {{/dogContainer}} -->