<div class="guInteractive">
    <header id="header">
    {{#with furniture}}
        <h1>{{title}}</h1>
        <p id="interactiveStandfirst">{{standfirst}}</p>
        <div id="interactiveByline">
            {{{byline}}}
        </div>
    {{/with}}
    </header>
    <div id="content">
        {{#allDogs}}
            {{#if selected}}
            <div id="detailContainer">
                <div class="detailWrapper">
                    <h3>{{name}}, {{shareline}}</h3>
                    <!-- <div id="titleStroke"></div> -->
                    <!-- <p id="dogDescription">{{name}}</p> -->
                    <div id="shareContainer">
                        <button on-tap="shareDog:facebook" id="share-facebook"></button> 
                        <button on-tap="shareDog:twitter" id="share-twitter"></button> 
                        <button on-tap="shareDog:mail" id="share-mail"></button> 
                    </div>
                </div>
                <img src="@@assetPath@@/imgs/{{imagebig}}" alt="picture of {{name}}" />
                <div class="detailWrapper">
                    <div id="dogStory">
                    {{#story:i}}
                        <p>{{{this}}}</p>
                    {{/story}}
                    </div>
                </div>
            </div>
            {{/if}}
        {{/allDogs}}

        <div id="allDogs">
            <div class="dogColumn">
                {{#each allDogs:i}}
                    {{#if i<4}}
                        {{>dogContainer}}
                    {{/if}}
                {{/each}}
            </div>
            <div class="dogColumn">
                {{#each allDogs:i}}
                    {{#if i>3 && i<8}}
                        {{>dogContainer}}
                    {{/if}}
                {{/each}}
            </div>

            {{#allDogs[8]}}
                <div class="dogRow">
                {{>dogContainer}}
                </div>
            {{/allDogs}}

    </div>
</div>


<!-- {{>dogContainer}} -->
<div class="dogContainer selected-{{selected}}" on-tap="selectDog:{{this}}">
    <div class="dog dog-{{size}}" style="background-image:url(@@assetPath@@/imgs/{{image}})">
    <div class="dogInformation">
        <h3>{{name}}</h3>
        <p>{{subhead}}</p>
    </div>
    </div>
</div>
<!-- {{/dogContainer}} -->