/**
 * Project: Project name 
 * File:    Main SCSS
 */

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

@import 'modules/fonts';
.element-interactive.interactive,body{
	margin:0;
}

.interactiveContainer .content__head, .interactiveContainer .content__meta-container{
	display:none;
}

#article-header.article__header.interactiveMobile{
    display:none;
}

.guInteractive {
    #interactiveByline{
        margin-top:20px;
        .content__meta-container{
            display: block;
        }
        *{
            box-sizing:content-box;
        }
        .meta__numbers{
            display:none;
        }
        .meta__social{
            margin-right:0;
        }
        @media(min-width:980px){
            .byline{
                padding-right:200px;
                margin-right:0;
                box-sizing:border-box;
                display:inline-block;
                width:auto;
            }
        }
    }
	font-family:"Guardian Egyptian Web","Egyptian Display","Guardian Text Egyptian Web","Egyptian Text",Georgia,serif;
	color:#333;
	-webkit-font-smoothing:antialiased;
	max-width:1300px;
	margin:0 auto;
	padding:0 ;
	box-sizing:border-box;

	*{
		box-sizing:border-box;
	}

	h1,h2,h3,h4,h5,h6{
		font-family:"Guardian Egyptian Web","Egyptian Display","Guardian Text Egyptian Web","Egyptian Text",Georgia,serif;
		line-height:1.2em;
	}

	h1{   
        font-weight:bold;
		line-height:1em;
        margin-bottom:0;
        display:inline;
        font-size:32px;
	}

	a{
		text-shadow:none !important;
		background:none !important;
	}

	#header{
		padding:0;
		max-width:520px;
		margin:40px auto 20px;

		#interactiveStandfirst{
			font-size:32px;
			line-height:1em;
            margin-top:10px;
			color:#BDBDBD;
			padding-bottom:0;
			margin-bottom:0;
            display:inline;
            font-weight:bold;
		}
        &:after{
            clear:both;
            display:block;
            content:'';
        }
	}

	#content{
		margin:20px 0 120px;
	}

	#allDogs{
		&:after{
			display:block;
			clear:both;
			content:'';
		}
	}
    .dogContainer{
    	display:block;
    	width:100%;
    	height:auto;
    	cursor:pointer;
    	position: relative;
    	margin-bottom:20px;
    	-webkit-column-break-inside:avoid;
    	.dog{
    		height:0;
    		background-size:100%;
    		background-position:center;
    		transition:background 0.2s ease;
    		background-repeat:no-repeat;
    		&.dog-portrait{
    			padding-bottom:115%;
    		}
    		&.dog-landscape{
    			padding-bottom:72%;
    		}
    		&.dog-wide{
    			padding-bottom:38%;
    		}
    		&:hover{
    			background-size:110%;
                h3{
                    color:#005689;
                    text-decoration: underline;
                }
                .dogInformation{
                    background:rgba(230,230,230,0.75);
                }
    		}
    	}
    	.dogInformation{
    		position: absolute;
    		width:100%;
    		height:auto;
    		bottom:0;
    		background:rgba(242,242,242,0.75);
    		padding:20px 10px;
            transition:background 0.2s;

    		h3{
    			margin:0;
    			font-weight:100;
    			font-size:22px;
                transition:color 0.2s;
    		}

    	}
    	&.selected-true{
			cursor: default;
            border:4px solid #4BC6DF;

            .dog{
                // opacity:0.5;
            }
			.dog:hover{
				background-size:100%;
			}
		}
    	
    }

    #detailContainer{
    	padding:0 0 20px;
    	margin-bottom:20px;
    	border-bottom:1px solid #dcdcdc;
        border-top:1px solid #dcdcdc;
    	h3{
    		margin:0;
    		font-weight:100;
    		font-size:24px;
    	}
        h4{
            font-family:'Guardian Text Sans Web','Agate Sans',sans-serif;
            color:#333;
            font-size:14px;
            margin:0 0 20px;
        }
    	#shareContainer{
    		margin:20px auto 40px;
    		button{
    			height:34px;
    			width:34px;
    			border-radius:34px;
    			background:#333;
    			display:inline-block;
    			border: none;
    			cursor:pointer;
    			outline: none;
    			&#share-facebook{
    				background-color:#3067a3;
    				background-image: url(../imgs/facebook.svg);
    				background-position:center;
    				background-repeat: no-repeat;
    			}
    			&#share-twitter{
    				background-color:#03b3ee;
    				background-image: url(../imgs/twitter.svg);
    				background-position:center;
    				background-repeat: no-repeat;
    			}
    			&#share-mail{
    				background-color:#767676;
    				background-image: url(../imgs/mail.svg);
    				background-position:center;
    				background-repeat: no-repeat;
    			}
    		}
    	}
    	img{
    		margin:0 auto 20px;
    		display:block;
    		max-width:100%;
    	}
    }
    #dogStory{
    	max-width:620px;
    	margin:0 auto;
    	p{
    		line-height:1.5em;
            font-weight:normal;
            font-family:"Guardian Text Egyptian Web","Egyptian Text",Georgia,serif;
    	}
    }
    #moreStories{
        overflow:hidden;
        #moreStoriesTitle{
            font-family:"Guardian Egyptian Web","Egyptian Display","Guardian Text Egyptian Web","Egyptian Text",Georgia,serif;
            font-size:22px;
            font-weight:bold;
            margin-bottom:10px;
            margin-top:40px;
        }
        li{
            position: relative;
            list-style:none;
            font-size:0;
            
            a{
                position: absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                transition:background 0.4s;
                &:hover{
                    background:rgba(0,0,0,0.1) !important;
                }
            }
            .otherarticletitle{
                font-weight:bold;
                font-family:"Guardian Egyptian Web","Egyptian Display","Guardian Text Egyptian Web","Egyptian Text",Georgia,serif;
                font-size:18px;
                padding:10px 10px 30px;
                line-height: 1.2em;
                background:#f4f4f4;
            }
            img{
                width:100%;
            }
            @media(min-width:420px){
                .otherarticleimage{
                    margin-left:160px;
                    
                }
                .otherarticletitle{
                    width:160px;
                    padding-right:20px;
                    position: absolute;
                    left:0;
                    top:0;
                    height:100%;
                }
                a{
                    margin-right:20px;
                }
            }
            @media(min-width:480px){
                width: 50%;
                border-right:10px solid transparent;
                float:left;
                &:nth-of-type(2){
                    border-left:10px solid transparent;
                    border-right:0;
                }
                .otherarticleimage{
                    margin-left:0;
                    
                }
                .otherarticletitle{
                    width:100%;
                    padding-right:10px;
                    position: relative;
                    height:auto
                }
            }

            @media(min-width:740px){
                
            }
            @media(min-width:980px){
                border-right:20px solid transparent;
                &:nth-of-type(2){
                    border-left:20px solid transparent;
                    border-right:0;
                }
                .otherarticleimage{
                    margin-left:160px;
                    
                }
                .otherarticletitle{
                    width:160px;
                    padding-right:20px;
                    position: absolute;
                    left:0;
                    top:0;
                    height:100%;
                }
            }
        }
    }
    @media(min-width:480px){
    	.dogColumn{
    		width:50%;
    		float:left;
    		padding-right:10px;
    		&:nth-of-type(2){
    			padding-left:10px;
    			padding-right:0;
    		}
    	}

    	.dogRow{
    		clear:both;
    	}
        #header{
            margin:80px auto 0;
            #interactiveStandfirst{
                font-size:48px;
            }
        }
    	h1{
    		font-size:48px;
    		margin-bottom:0;
    	}
    	#detailContainer{
    		padding:40px 0;
    		h3{
    			font-size:36px;
    		}
    		#titleStroke{
    			margin: 10px auto 20px;
    		}
    	}
        .detailWrapper{
            max-width:520px;
            margin: 0 auto;
        }
    }
    @media(min-width:740px){
    	padding:1px 20px;
        .detailWrapper{
            // margin-left:200px;
        }
    	#header{
            margin:40px auto 0;
    		padding-top:40px;
    		padding-bottom:20px;
            // margin-left:200px;
    	}
    	h1{
    		// font-size:68px;
    		margin-bottom:0;
    	}
    	h3{
    		font-size:36px;
    	}
    	h4{
    		font-size:22px;
    	}
        .dogContainer .dogInformation{
            padding:20px;
        }
    	#detailContainer{
    		#titleStroke{
    			margin: 10px auto 25px;
    		}
    		h3{
    			// font-size:62px;
    		}
    	}
    }

    @media(min-width:980px){
    	.dogColumn{
    		padding-right:20px;
    		&:nth-of-type(2){
    			padding-left:20px;
    			padding-right:0;
    		}
    	}
    	.dogContainer{
    		margin-bottom:40px;
    	}
    	#detailContainer{
    		padding:40px 0 80px;
            margin-bottom:40px;
    	}
    	

    	
    }

}

